.search {
  width: 97%;
  display: flex;
  justify-content: space-between;
}

.input-search {
  margin-bottom: 50px;
  height: 40px;
  width: 560px;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 6px;
}

.input-search:active {
  border: none;
}

.input-search:focus,
.input-search:hover {
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
}

.input-search::after {
  transition-delay: 0.3s;
}

.actions {
  float: left;
  width: 200px;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(65, 65, 65);
  transition-duration: 0.3s;
}

.btn:active {
  background-color: rgb(40, 40, 40);
  scale: 1.03;
}
