
.card {
  min-width: 48%;
  border-radius: 5%;
  padding: 5px 5px 5px 5px;
  min-height: 440px;
  background-color: #d8d7d7;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
}

.card p {
  width: 400px;
}

.card img {
  object-fit: cover;
  width: 550px;
  height: 300px;
  border-radius: 5% 5% 0% 0%;
}

.card--special {
  border: 1px solid #747373;
  border-radius: 5%;
  background-color: #d8d7d7;
  padding: 5px 5px 10px 5px;
}

.badge {
  position: relative;
  float: right;
  padding: 3px 6px;
  margin-top: -26px;
  font-size: 10px;
  border-radius: 4px;
  color: white;
}

.badge--special {
  background-color: rgb(0, 0, 0);
  font-weight: 500;
}


.details {
  position: relative;
  float: right;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  /* margin-top: -35px; */
  margin-right: 2px;
  color: white;
  background-color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;;
}

.details:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    transition-duration: 0.3s;
}

.details:active{
    background-color: rgb(40, 40, 40);
    scale: 1.03;
}

.price_etc {
  margin-top: 5px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 20px;
  font-weight: 600;
}