header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 15px 40px;
    color: black;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
    color: black;
}

.nav a:hover,
.nav a.active {
    border-bottom: 2px solid #000;
    transition-duration: 0.5s;
    cursor: pointer;
}

.app-footer {
    background: transparent;
    color: black;
    text-align: center;
    padding: 20px 20px 15px 20px;
    margin-top: auto;
}

.app-footer .socials {
    margin-top: 10px;
}

.app-footer .socials a {
    margin: 0 10px;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.app-footer .socials a:hover {
    color: black;
    cursor: pointer;
}