form {
  width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #fafafa;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form:focus,
form:hover {
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: 500;
    width: 500px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #000000;
}

.checkbox {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.checkbox label {
    width: 200px;
}

.checkbox input {
    padding: 50px;
    width: 50px;
    margin-top: 2px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: rgb(65, 65, 65);
  transition-duration: 0.3s;
}

button:active {
  background-color: rgb(40, 40, 40);
  scale: 1.03;
}


button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

small {
  color: #d9534f;
  font-size: 13px;
  margin-top: 4px;
}
